/* @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500&display=swap'); */


/* custom properties */
*,
*::before,
*::after {
    box-sizing: border-box;
    
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark:#303030;
    --clr-accent: #16e0db;
    --clr-accent-1: linear-gradient(210deg, rgba(12,124,142,1) 0%, rgba(253,170,45,1) 100%);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-p: 0.75rem;
    --fs-body: 1rem;
    --bs:0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

@media (min-width:800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* general styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary); 
    font-size: var(--fs-body);
    line-height: 1.6;
    outline: none;
    background: linear-gradient(-47deg, rgba(0, 0, 0, .6), rgba(148, 48, 48, .6), rgba(167, 67, 67, .95));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

body.active {
    overflow-y: hidden!important;
}



.top {
    background-attachment: scroll;
    position: relative;
}

.top {
    position: fixed;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    bottom: 5px;
    right: 10px;
    box-shadow: var(--bs);
    padding: 5px;
    z-index: 1000;
}


.top a:focus {
    display: none;
}

a  {
    text-decoration: none;
    color: var(--clr-accent);
    font-size: 20px;
}



@media only screen and (min-width: 768px) {
    body {
        /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
    }

    /* background animation setup */

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%; 
    }

    100% {
        background-position: 0% 50%;
    }
} */
}




img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

section {
    padding:5em 2em;
}

ul li {
    position: relative;
    text-decoration: none;
    list-style: none;

}

html {
    scroll-behavior: smooth;
}

/* buttons */

#logo {
    width: 65px;
    position: relative;
}

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition:  200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}



.section__title {
    /* margin-bottom: .25em; */
    margin-bottom: 0;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
    
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family:var(--ff-secondary);
    margin-bottom: 1em;
    padding: .6em 1em;
    border-radius: 7px;
    box-shadow: var(--bs);
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.intro p {
    margin-bottom: 10px;
}

.intro h1 {
    padding-bottom: 0;
}

/* the Navigation bar */

/* header {
    padding: 0.8em;
    position: fixed;
}  */

header {
    padding: 6px 15px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000;
    align-items: center;
    transition: 0.6s;
    border-bottom: 2px solid rgba(255, 255, 255, .21);
}

header.sticky {
    padding: 6px 15px;
    background: rgba(255, 255, 255, .96)!important;
    border-bottom: 4px solid orange
}



header nav {
flex-basis: 900px;
}


header .nav__list {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
}

.nav__link {
    position: relative;
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
} 

.sticky .nav__link {
    color: #111111;
}




@media only screen and (max-width:900px) {
    div.hamburger-menu {
        width: 35px;
        height: 25px;
        background: transparent;
        position: fixed;
        right: 0.9em;
        top: 0.8em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 10000;
    }

    .nav {
        width: 100%;
        height: 100%;
        background: #262626;
        opacity: 0.95;
        position:fixed;
        top: 0;
        right: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.8s cubic-bezier(0.6, 0, 0, 1);
        z-index: 1000;
    }

    .active {
        right: 0%;
    }

    .active .one{
        transform: rotateZ(-45deg) translate(-5px, 6px);
        background: rgb(206, 17, 17)!important;
        z-index: 100;
    }
    .active .two{
        display: none;
    }
    .active .three{
        transform: rotateZ(45deg) translate(0, -2px);
        background-color: #fff!important;
    } 

    header .nav__list {
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        text-align: center;
    }

    li .nav__link {
        color: #fff!important;
        position: relative;
    }

    .nav__link::after,
    .nav__link::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background: tomato;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
    }

    .nav__link::after {
        bottom: 0;
        transform-origin: left;
    }

    .nav__link::before {
        top: 0;
        transform-origin: right;
    }

    .nav__link:hover::after,
    .nav__link:hover::before{
        transform: scaleX(1);

    }

    div.line {
        width: 70%!important;
        height: 3px!important;
        border-radius: 2px!important;
        background: rgb(2, 1, 1)!important;
        transition: all 0.3s ease-out;
    }
    
}


/* media queries */




/* the intro section */

.intro {
    position: relative;
    margin-bottom: 0;
    height: 100vh;
    background: linear-gradient(-47deg, rgba(0, 0, 0, .6), rgba(148, 48, 48, .6), rgba(167, 67, 67, .95)), url('./img/20191213_172122.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    align-items: start;
}

.intro__img {
    box-shadow: var(--bs);
    border-radius: 0 0 12px 12px;
}

h2 .special {
    color: orange;
}

.section__subtitle--intro{
    display: inline
}

.align-left {
    color: white;
    padding-top: 7rem;
}

@media (max-width: 400px) {
    .hello {
        margin-top: 0!important;
    }
    .align-left {
        padding-top: 0!important;
        align-items: center!important;
        margin: auto;
    }

    .belief {
        text-align: justify;
    }

    .intro {
        padding: 40px 20px!important;
    } 
}

.align-left .belief {
    max-width: 560px;
}

@media (min-width: 600px){

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        border-radius: 12px;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


/* my services */

.my-services{
    background-color: var(--clr-dark);
    background-image: url(./img/img/services-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center ;
    overflow: hidden;
}

.service h3 {
    text-align: center;
}



.service {
    max-width: 700px;
    margin: 0 auto;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}



.section__title--services::after{
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.8;
}

@media(min-width:800px) {

    .my-services {
        margin-left: 0!important;
    }
    .services{
        display: flex;
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }

    .services {
    margin-bottom: 4em;
    text-align: center;
    }
    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin:auto;
}

.about-me__img{
    box-shadow: var(--bs);
    border-radius: 12px;
}

.about-me__body p {
        color: #fff;
    }

@media (min-width:600px) {
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    } 

    .about-me__body p {
        color: #fff;
    }

}

/* My work */

.my-work {
background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.4), rgba(34, 33, 33, 0.8)), url('https://images.unsplash.com/photo-1531482615713-2afd69097998?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat;
background-position: center center;
    color: var(--clr-light);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
}

@media only screen and (min-width:800px) {
    .my-work {
        margin-left: 0!important;
        margin-bottom: 0!important;
    }

    footer {
        margin-left: 0!important;
    }
}

.my-work .txt {
    max-width: 600px;
    font-size: 12px;
    margin: 20px auto 0;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
} 


.portfolio-card {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    cursor: pointer;
}

.portfolio-card .portfolio-hover {
    position: absolute;
    background: #1c1c1c;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
}



.porfolio-card:focus {
    display: none;
}

@media only screen and (min-width: 600px){
    .portfolio-card + .portfolio-card {
    margin-bottom: 20px;
}
}


@media only screen and (max-width: 600px) {
    .portfolio {
        display: flex!important;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .portfolio article + article {
        margin-top: 20px;
    }
}

.portfolio__item {
    /* background: var(--clr-accent); */
    overflow: hidden;
}
.portfolio__item {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 9px;
}

/* .portfolio__item:last-child {
    margin-bottom: 0em;
    margin-left: 0;
} */
.portfolio__item {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

.portfolio a:focus {
    display: none!important;
}



.portfolio img {
    height: 100%;
    overflow: hidden;
    width: 100%;
    transition: all 0.6s ease-in-out; 
}

.portfolio-card:hover img{
    transform: scale(1.5);
}

.portfolio-card:hover .portfolio-hover {
    opacity: 0.95;
    transition-delay: 0.3s;
    transform: translateY(0);
}

.portfolio-hover .hover-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hover-item i + i {
    margin-left: 20px;
}

.hover-item i {
    font-size: 45px;
}

.portfolio__btn {
    position: relative;
    display: inline-block;
    padding: 6px 25px; 
    margin-top: 40px;
    font-size: 14px;
    background-color: beige;
    border-radius: 15px;
    box-shadow: 15px 25px 35px rgba(0, 0, 0, 0.4);
    color: #1c1c1c;
    cursor: pointer;
    outline: none;
    border: 1px solid beige;
} 



/* footer */

.footer{
    background: #111111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5rem 0;
}

.footer p {
    font-size: var(--fs-p);
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer a {
    font-size: var(--fs-h3);
    color: inherit;
    text-decoration: none;
}
/* .footer a :focus{
    display: none;
} */
.footer__link:hover,
.social-list__item:hover {
    opacity: .75;
}
.footer a:hover {
    text-decoration: underline;
}

.social--list  {
    display: flex;
    justify-content: center;
    margin: 1.5em auto 0 ;
    padding: 0;
    font-size: var(--fs-h3);
}

.social-list__link {
    margin: 0 .5em 0 ;
}

.social-list__link:focus {
    display: none;
}

.social-list__item {
    padding: 0 .7em;
}

/* scrollbar */

/* width */

::-webkit-scrollbar {
    width: 6px;
}

/*  track*/

::-webkit-scrollbar-track {
    background: inherit;
    width: 10px;
}

/* background */

::-webkit-scrollbar-corner {
    border-radius: 5px;
}

/* handle */ 
::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 4px;
}
